@page "/artwork/{Id:guid}"
@inherits ArtworkDetailsBase

@if (ErrorMessage != null)
{
    <h3>@ErrorMessage</h3>
}
else
{
    <div class ="container">
        <div class="row">
            <div class="col-8">
                <img src="@Artwork.ImagePath" class="img-fluid" alt="@Artwork.Name">
            </div>
            <div class="col-4" style="color:#fff">
                <h1>@Artwork.Name</h1>
                <p>
                    @Artwork.Description
                </p>
            </div>
        </div>
    </div>

}
