@page "/artworks/{artworkId:guid}"

<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="@artwork.ImageUrl" class="img-fluid" alt="@artwork.Title">
        </div>
        <div class="col-4 description" style="color:#fff">
            <h2>
                Author: 
                <a href ="/authors/@artwork.Author.Id">
                    @artwork.Author.Name
                </a>
            </h2>
            <h3>@artwork.Title</h3>
            <p>
                @artwork.Description
            </p>
        </div>
    </div>
</div>