@page "/artworks/{artworkId:guid}"

 <div class="details-container">
     <div class="image-container">
         <img class="image-main" src="@artwork.ImageUrl" alt="@artwork.Title"/>
     </div>
     <div class="author-container">
         <div class="author-info-container">
             <div class="author-avatar-container">
                <img class="author-avatar" src=@artwork.AvatarUrl />
             </div>
             <div class="author-info">
                <h4>
                    @artwork.AuthorPublicName
                </h4>
                <p>@artwork.Profession</p>
            </div>
         </div>

        <div class="artwork-description">
            <h3>
                @artwork.Title
            </h3>
            <p>@artwork.Description</p>
        </div>
     </div>
    
 </div>