@page "/registration"
<h3>Registration</h3>

@if (ShowRegistrationErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

<EditForm Model="_userForRegistration" OnValidSubmit="Register" class="row g-3 bg-gradient" style="width:600px; margin:auto; padding-top:20px;">
    <DataAnnotationsValidator />
    
    <div class="row mb-3">
        <label for="userName" class="col-md-2 col-form-label">User name:</label>
        <div class="col-md-10">
            <InputText id="userName" class="form-control" @bind-Value="_userForRegistration.UserName" />
            <ValidationMessage For="@(() => _userForRegistration.UserName)" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="name" class="col-md-2 col-form-label">Email:</label>
        <div class="col-md-10">
            <InputText id="name" class="form-control" @bind-Value="_userForRegistration.Email" />
            <ValidationMessage For="@(() => _userForRegistration.Email)" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-md-2 col-form-label">Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="password" class="form-control" @bind-Value="_userForRegistration.Password" />
            <ValidationMessage For="@(() => _userForRegistration.Password)" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="confirm" class="col-md-2 col-form-label">Confirm Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="confirm" class="form-control" @bind-Value="_userForRegistration.ConfirmPassword" />
            <ValidationMessage For="@(() => _userForRegistration.ConfirmPassword)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Register</button>
        </div>
    </div>
</EditForm>